.catalog-product__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  border-bottom: 1px solid #ebebeb;
  padding: 25px 18px;
  margin: 0;

  @media (min-width: 768px) {
    border-bottom: none;
    margin-top: 75px;
    font-size: 60px;
    padding: 25px 27px;
    margin-bottom: 128px;
  }

  @media (min-width: 1280px) {
    border-bottom: none;
    margin-top: 30px;
    margin-bottom: 150px;
    padding: 0;
  }
}

.catalog-product__items {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, minmax(324px, 1fr));
    column-gap: 60px;
    row-gap: 120px;
    justify-content: center;
  }

  @media (min-width: 1280px) {
    display: grid;
    grid-template-columns: repeat(4, 245px);
    column-gap: 80px;
    justify-content: flex-start;
  }
}

.catalog-product__item {
  margin-bottom: 18px;
  border-bottom: 1px solid #ebebeb;
  width: 100%;

  @media (min-width: 768px) {
    max-width: 324px;
    padding: 38px;
    background-color: #f2f2f2;
    max-width: 324px;
    padding: 150px 40px 40px;
    background-color: #f2f2f2;
    position: relative;
  }

  @media (min-width: 1280px) {
    padding: 40px;
    height: 430px;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &--more {
    text-align: center;
    padding: 35px 0;
  }
}

.catalog-product__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  margin-bottom: 10px;
  padding: 10px 0;

  @media (min-width: 768px) {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 16px;
  }
}

.catalog-product__name {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  max-width: 80px;

  @media (min-width: 768px) {
    max-width: 140px;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 20px;
  }
}

.catalog-product__properties {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
  width: 100%;
}

.catalog-product__properties-align {
  display: flex;
  justify-content: space-between;

  @media (min-width: 768px) {
    border-bottom: 1px solid #cdcdcd;
    font-size: 16px;
    margin-bottom: 14px;
    line-height: 16px;
  }
}

.catalog-product__order-button {
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-size: 16px;
  text-transform: uppercase;
  background-color: #68b738;
  width: 100%;
  border: none;
  padding: 8px 0;
}

.catalog-product__additional-order-button {
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 1;
  padding: 12px 0;
  text-transform: uppercase;
  background-color: #68b738;
  border: none;
  width: 100%;

  @media (min-width: 768px) {
    width: 100%;
  }

  @media (min-width: 1280px) {
    max-width: 244px;
    margin-left: 40px;
  }
}

.catalog-product__additional-wrapper {
  @media (min-width: 1280px) {
    display: grid;
    grid-template-columns: 1fr;
    flex: 1;
    gap: 40px;
  }
}

.catalog-product__plus-button {
  width: 30px;
  height: 30px;
}

.catalog-product__show-more-title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.8px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.catalog-product__show-more-info {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 25px;
}

.catalog-product__show-all-button {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #444444;
  text-align: center;
  background: #f2f2f2;
  width: 100%;
  border: none;
}

.catalog-product__additional-items-title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  border-bottom: 1px solid #cdcdcd;
  padding-bottom: 30px;
  position: relative;

  &::after {
    content: "";
    display: block;
    height: 2px;
    width: 50px;
    position: absolute;
    right: 0;
    top: 14px;
    background-color: #68b738;
    z-index: 10;
  }

  @media (min-width: 768px) {
    margin-top: 70px;
    margin-bottom: 55px;
    font-size: 36px;
    margin-left: 47px;
  }
}

.catalog-product__additional-items {
  list-style: none;

  @media (min-width: 768px) {
    max-width: 100%;
    margin: 0 auto;
  }
  @media (min-width: 1280px) {
    display: flex;
    justify-content: space-between;
    gap: 5px;
  }
}

.catalog-product__additional-products {
  padding: 0;
  margin: 0;
  list-style: none;

  @media (min-width: 768px) {
    border: 1px solid #cdcdcd;
    margin-bottom: 15px;
  }
}

.catalog-product__additional-item {
  border-bottom: 1px solid #cdcdcd;
  margin-bottom: 12px;
  padding-bottom: 12px;
  width: 100%;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    padding: 29px 48px;
    margin-bottom: 0;
  }

  @media (min-width: 1280px) {
    flex-direction: row;
    padding: 16px 28px;
  }
}

.catalog-product__additional-item--last {
  @media (min-width: 768px) {
    border-bottom: none;
  }
}

.catalog-product__additional-info {
  margin-bottom: 15px;

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    margin: 0;
    align-items: center;
    margin-bottom: 25px;
  }

  @media (min-width: 1280px) {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
  }
}

.catalog-product__additional-item-properties {
  font-family: "Lato", sans-serif;
  font-style: normal;
  line-height: 14px;
  display: flex;
  justify-content: space-between;
  color: #444444;

  @media (min-width: 768px) {
    display: flex;
    align-items: center;
    gap: 72px;
  }

  @media (min-width: 1280px) {
    display: grid;
    width: 100%;
    max-width: none;
    grid-template-columns: 1fr 1fr;
    flex: 1;
  }
}

.catalog-product__item-title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;

  @media (min-width: 768px) {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
  }

  @media (min-width: 1280px) {
    width: 325px;
  }
}

.catalog-product__gift {
  position: relative;
  @media (min-width: 768px) {
    width: 100%;
  }

  @media (min-width: 1280px) {
    width: auto;
    position: relative;
    white-space: nowrap;
    width: 325px;
  }
}

.catalog-product__gift-info {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  width: 100%;
  max-width: 179px;
  text-align: center;
  color: #ffffff;

  @media (min-width: 768px) {
    margin-left: auto;
  }

  @media (min-width: 1280px) {
    display: inline-block;
    max-width: 160px;
    white-space: break-spaces;
    margin-right: 20px;
    margin-bottom: 37px;
  }
}

.catalog-product__product-image {
  @media (min-width: 768px) {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.catalog-product__image-wrapper {
  margin-top: 39px;

  @media (min-width: 768px) {
    margin-top: 64px;
  }

  @media (min-width: 1280px) {
    margin-top: 2px;
    margin-left: 60px;
  }
}

.catalog-product__gift-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 70%;
  }

  @media (min-width: 1280px) {
    display: flex;
    flex-direction: column;
  }
}

.catalog-product__more-products {
  position: relative;
}

.catalog-product__image-wrapper::before {
  background-color: rgba(104, 183, 56, 0.85);
  opacity: 0.3;
}

.catalog-product__item-price {
  @media (min-width: 1280px) {
    text-align: end;
  }
}
