@font-face {
  font-family: "Lato";
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/lato/Lato-Regular.woff2) format("woff2"),
    url(../fonts/lato/Lato-Regular.woff) format("woff");
}

@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/oswald/oswaldregular.woff2) format("woff2"),
    url(../fonts/oswald/oswaldregular.woff) format("woff");
}

@font-face {
  font-family: "Oswald";
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/oswald/oswaldmedium.woff2) format("woff2"),
    url(../fonts/oswald/oswaldmedium.woff) format("woff");
}
