.catalog__select {
  list-style: none;
}

.catalog__select-info {
  display: flex;
}

.catalog__select-info {
  display: flex;
}

.catalog__title {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.catalog__information {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.catalog__button {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
}
