.catalog__select {
  list-style: none;
}

.catalog__select-info {
  display: flex;
}

.catalog__product {
  background-color: #f2f2f2;
  margin-bottom: 20px;
}

.catalog__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.catalog__information {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  padding-left: 20px;
  padding-right: 33px;
}

.catalog__button {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .catalog__product {
    height: 100%;
    max-height: 266px;
  }

  .catalog__information {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: 1280px) {
  .catalog__select {
    display: flex;
    gap: 80px;
  }

  .catalog__product {
    width: 100%;
    max-width: 570px;
    min-height: 374px;
  }

  .catalog__select-info {
    gap: 62px;
  }

  .catalog__information {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
