.main-page__slider-information {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000;
}

.main-page__slider-advice {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  color: #fff;

  @media (min-width: 768px) {
    color: #000;
    margin-left: 120px;
    font-size: 20px;
    line-height: 20px;
  }
}

.slider__button {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background: #68b738;
}

.main-page__slider-content-wrapper {
  background: rgba(104, 183, 56, 0.85);

  @media (min-width: 768px) {
    background: none;
  }
}

.main-page__slider-information {
  text-align: center;
  padding-top: 27px;
  color: #fff;

  @media (min-width: 768px) {
    text-align: left;
    color: #000;
    font-size: 60px;
    line-height: 60px;
    margin-left: 118px;
    margin-top: 116px;
  }
}

@media (min-width: 1280px) {
  .main-page__slider {
    display: flex;
    position: relative;
  }

  .main-page__slider-content-wrapper {
  }

  .main-page__cat-slider {
    display: flex;
    width: 100%;
  }

  .main-page__slider-image-wrapper {
    position: relative;
    background: rgba(104, 183, 56, 0.85);
    width: 100%;

    &::after {
      content: "";
      background-image: url(../img/index-background.png);
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      opacity: 0.3;
      display: block;
      height: 100%;
      width: 100%;
    }
  }
}
