.navigation__list {
  list-style: none;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.navigation__item {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .navigation__list {
    display: flex;
    flex-direction: row;
    gap: 36px;
  }
  .navigation__item--current {
    border-bottom: 1px solid #68b738;
  }
}

@media (min-width: 1280px) {
  .navigation__list {
    display: flex;
    align-items: flex-end;
  }
}
