.page-footer__title {
  text-transform: uppercase;
}

.page-footer__social-list {
  display: flex;
  list-style: none;
  gap: 26px;
  justify-content: center;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 16px;
  margin-bottom: 7px;

  @media (min-width: 768px) {
    border-bottom: none;
    padding: 0;
    align-items: center;
    margin-top: 4px;
    margin-left: 27px;
  }
}

.page-footer__academy-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-footer__academy-name {
  @media only screen and (min-width: 768px) {
    margin-right: 27px;
    font-size: 16px;
  }
}

.page-footer {
  display: flex;
  flex-direction: column;
  margin-top: 44px;

  @media only screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px;
    margin-top: 43px;
  }

  @media (min-width: 1280px) {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
  }
}

.page-footer__site-logo-link {
  margin-bottom: 20px;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 15px;
  display: block;
  width: 100%;
  text-align: center;

  @media (min-width: 768px) {
    width: auto;
    border-bottom: none;
    padding: 0;
    margin: 0;
    align-self: center;
    width: 142px;
    height: 26px;
  }
}

.page-footer__link {
  text-decoration: none;
  color: #444444;
}

.page-footer__menu-site-logo {
  width: 142px;
  height: 26px;
}
