.page-header {
  gap: 60px;
  text-decoration: none;
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .page-header {
    display: flex;
    flex-direction: row;
    position: fixed;
    background-color: #ffffff;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    justify-content: space-between;
  }

  .navigation__list {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
}
