.page-footer__title {
  text-transform: uppercase;
}

.page-footer__social-list {
  display: flex;
  list-style: none;
  gap: 26px;
}

.page-footer__academy-info {
  display: flex;
}

.page-footer__academy-name {
  margin-right: 141px;
}
