.page-footer__title {
  text-transform: uppercase;
}

.page-footer__social-list {
  display: flex;
  list-style: none;
  gap: 26px;
}

.page-footer__academy-info {
  display: flex;
}

.page-footer__academy-name {
  margin-right: 141px;
}

.page-footer {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .page-footer {
    display: flex;
    flex-direction: row;
  }

  .page-footer__social-list {
    margin-left: 145px;
    margin-right: 135px;
  }

  .page-footer__academy-name {
    margin-right: 28px;
  }
}

@media (min-width: 1280px) {
  .page-footer {
    display: flex;
    justify-content: space-between;
  }
}
