.product__instruction-title {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.product__instruction-image-info {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.product__instruction-information {
  display: flex;
  gap: 20px;
}

.product__instruction-image {
  margin-bottom: 20px;
}
