.slider__image {
  @media (min-width: 768px) {
    background-image: none;
  }

  @media (min-width: 1280px) {
    max-height: 609px;
    left: -65px;
    top: 110px;
    position: absolute;
    z-index: 10;
  }
}

.slider__button {
  align-items: flex-start;
  align-items: center;
  padding: 14px 26px;
}
