.form-main-page__program-select {
  font-family: "Oswald", Arial, sans-serif;
  font-style: normal;
  line-height: 36px;
  font-size: 32px;
  margin-top: 37px;

  @media (min-width: 768px) {
  }
}

.form-main-page__fill-the-blanks {
  font-family: "Oswald", Arial, sans-serif;
  font-style: normal;
  line-height: 18px;
  text-transform: uppercase;
  width: 100%;
  max-width: 275px;
  margin-top: 36px;
  font-size: 13px;
  margin-left: -5px;
  margin-bottom: 38px;
}

.form-main-page__cat-properties {
  font-family: "Oswald", Arial, sans-serif;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  margin-right: 13px;
}

.form-main-page__owner-properties {
  font-family: "Oswald", Arial, sans-serif;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  margin-right: 13px;
}

.form-main-page__product-properties {
  font-family: "Oswald", Arial, sans-serif;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  margin-right: 13px;
}

input[type="text"] {
  font-family: "Oswald", Arial, sans-serif;
  line-height: 18px;
  text-transform: uppercase;
  flex: 1;
  height: 45px;
  padding-left: 20px;
  font-size: 16px;
}

input[type="number"] {
  font-family: "Oswald", Arial, sans-serif;
  line-height: 18px;
  text-transform: uppercase;
  flex: 1;
  height: 45px;
  padding-left: 20px;
  font-size: 16px;
}

input[type="radio"] {
  appearance: none;
}

input [type="tel"] {
  font-family: "Oswald", Arial, sans-serif;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}

input [type="checkbox"] {
  accent-color: #68b738;
}

.form-main-page__client-contact {
  font-family: "Oswald", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
}

.form-main-page__section-comments {
  font-family: "Oswald", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
}

.form-main-page__section-comment {
  font-family: "Oswald", Arial, sans-serif;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  width: 100%;
  max-width: 335px;
}

.form-main-page__additional {
  font-family: "Oswald", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
}

.form-main-page__complete-obligatory {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;

  line-height: 16px;
}

.form-main-page__input-image {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.email-logo {
  position: absolute;
  right: 10px;
  top: 14px;
}

.clients-email,
.clients-phone {
  width: 100%;
  padding: 10px 15px;
}

.obligatory-button {
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 65px;
  }
}

.form-main-page__wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  font-size: 16px;
  justify-content: space-between;
}

.form-main-page__diet-select-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-main-page__cat-properties--radio {
  position: relative;
  padding-left: 33px;
  margin-bottom: 26px;
}

.control-mark {
  position: absolute;
  top: -5px;
  left: 0;
  width: 30px;
  height: 30px;
  border: 2px solid #cdcdcd;
  border-radius: 50%;
}

.control-label {
  font-size: 16px;
  line-height: 20px;
}

input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  width: 13px;
  height: 13px;
  background-color: #68b738;
  border-radius: 50%;
}

.form-main-page__fill-the-blanks-wrapper {
  margin-bottom: 43px;
}

.form-main-page__owner-information {
  position: relative;
  flex: 1;
}

.form-main-page__client {
  display: flex;
}
